<tl-spinner [loading]="loading"></tl-spinner>
<div class="content" *ngIf="!loading">
  <div class="grid">
    <div class="grid-cell grid--top">
      <div class="image-container">
        <img class="main-image" [src]="images[imageIndex].sizes.Best.url">
      </div>
      <div
        class="alternate-container"
        *ngFor="let image of images; let i = index;"
        [class.selected]="i === imageIndex"
        (click)="selectImage(i)">
        <img class="sub-image" [src]="image.sizes.Small.url">
      </div>
    </div>
    <div class="grid-cell">
      <h2>{{product.name}}</h2>
      <div [innerHTML]="product.description"></div>
      <div class="variant" *ngIf="product.sizes.length">
        <div class="variant-title">Sizes</div>
        <span class="variant-option" *ngFor="let size of product.sizes">{{size.canonicalSize?.name || size.name}}</span>
      </div>
      <div class="variant" *ngIf="product.colors.length">
        <div class="variant-title">Colors</div>
        <span class="variant-option" *ngFor="let color of product.colors">
          <img class="swatch" [src]="color.swatchUrl" *ngIf="color.swatchUrl">
          <span *ngIf="!color.swatchUrl">{{color.name}}</span>
        </span>
        <!--<span *ngFor="let color of product.colors">{{color.name}}</span>
        <span *ngFor="let color of product.colors">{{color.name}}</span>-->
      </div>
    </div>
    <div class="grid-cell">
      <h2>{{product.priceLabel}}</h2>
      <button class="buy-now" (click)="clickOut(product.clickUrl)">BUY NOW</button>
    </div>
  </div>
</div>

<div class="content-similar" *ngIf="!loading">
  <tl-spinner [loading]="loadingSimilar"></tl-spinner>
  <h3>Productos Similares</h3>
  <tl-product-cell [product]="product" *ngFor="let product of similar"></tl-product-cell>
</div>

<!--<div class="col-md-7">
  <div class="image-container">
  </div>
</div>
<div class="col-md-5">
  {{product.name}}
</div>-->
