.header {
  color: #fff;
  background: #444;
  padding: 0;
  height: 50px;

  span, button[md-icon-button], a {
    padding: 0 16px;
  }

  button[md-icon-button] {
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  .logo {
    height: 20px;
    cursor: pointer;
  }

  .category {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: capitalize;

    &:hover {
      color: #f9f9f9;
    }
  }
}

.fill-remaining-space {
  // This fills the remaining space, by using flexbox.
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}
